#header{
    background: #F5F5F5;
    height: 30px;
    .header{
        .header_left{
            width: 50%;
            float: left;
            font-size: 12px;
            line-height: 30px;
            label{
                font-weight: 400;
                margin: 0 5px;
            }
            a{
                color: #37a0db;
            }
            em{
                color: #999;
                font-style: normal;
                line-height: 30px;
            }
        }
        .header_right{
            float: right;
            >ul>{
                li{
                    float: left;
                    font-size: 12px;
                    line-height: 12px;
                    padding-left:6px ;
                    margin: 9px 0;
                    border-right: 1px solid #B199B1;
                    color: #37a0db;
                    cursor: pointer;
                    position: rrelative;
                    &:hover{
                        color:orange;
                        ul{
                            display: block;
                        }
                    }
                    &:nth-child(2){
                        padding: 0 6px ;
                    }
                    &:nth-child(4){
                        border: none;
                    }
                    span{
                        font-size: 4px;
                        padding: 0 6px;
                    }
                    ul{
                        border: 1px solid #ccc;
                        width: 160px;
                        box-sizing: border-box;
                        border-radius: 4px;
                        position: absolute;
                        background: #fff;
                        padding:5px 0 ;
                        top: 32px;
                        box-shadow: 0 6px 12px rgba(0,0,0,.175);
                        display: none;         
                        li{
                            a{
                                display: block;
                                padding: 5px 0 5px 30px;
                                &:hover{
                                    color: orange;                                    
                                }
                            }
                            &:hover{
                                background: #F5F5F5;
                            }                           
                        }
                    }
                }
            }
        }
    }
}
#logo{
    height: 100px;
    .logo{
        height: 100px;
        h1 a{
            display: block;
            background: url(../images/logo.gif)no-repeat;
            height: 60px;
            width: 280px;
            text-indent: -999px;
            margin: 20px 0;
        }
        .logo_center{
            width: 620px;
            height: 100px;
            padding:10px 11px 0 22px;
            box-sizing: border-box;
            .logo_center_top{
                margin-bottom: 2px;
                span{
                    width: 46px;
                    height: 20px;
                    color: #fff;
                    border-radius: 2px;
                    background: #f6ab00;
                    text-align: center;
                    float: left;
                    display: block;
                    cursor: pointer;
                    &:nth-child(2){
                        margin-left: 2px;
                        background: #37a0db;
                    }
                }
            }
            .logo_center_middle{
                position: relative;
                input{
                    box-sizing: border-box;
                    color: #000;
                    height: 36px;
                    margin: 0;
                    outline: 0 none;
                    padding: 5px 3px 5px 5px;
                    position: relative;
                    width: 497px;
                    z-index: 2;
                    border: 3px solid #37A0DB;
                }
                button{
                    background-color: #37a0db;
                    border: 0 none;
                    color: #fff;
                    cursor: pointer;
                    font-size: 16px;
                    height: 36px;
                    letter-spacing: 4px;
                    overflow: hidden;
                    position: absolute;
                    right: 0;
                    top: 0;
                    width: 90px;
                }
            }
            .logo_center_bottom{
                height: 20px;
                margin-left: -10px;
                overflow: hidden;
                padding: 4px 0 0;
                width: 100%;
                ul{
                    li{
                        float: left;
                        border-left: 1px solid #ccc;
                        display: inline-block;
                        line-height: 1.1;
                        padding: 0 12px;
                        &:nth-child(1){
                            border: none;
                        }
                        a{
                            font-size: 12px;
                            &:hover{
                                text-decoration: none;
                            }
                        }
                    }
                }
            }
        }
        .logo_center_right{
            padding-top: 25px;
            a{
                display: block;
                width: 210px;
                height: 70px;
                background: url(../images/iphones.png)no-repeat;
            }
        }
    }
}
#nav{
    border-bottom: 2px solid #ff3f72;
    box-sizing: border-box;
    height: 40px;   
    .nav{
        .nav_all{
            float: left;
            box-shadow: 5px 5px 10px rgba(55, 55, 55, 0.4);
            background: #ff3f72 none repeat scroll 0 0;
            display: inline-block;
            height: 40px;
            width: 240px;
            h4{
                color: #fff;
                cursor: pointer;
                font-size: 18px;
                line-height: 40px;
                padding-left: 25px;
                span{
                    vertical-align: middle;
                    margin: 0 20px;
                }
            }
            .nav_all_list{
                box-shadow: 5px 5px 10px rgba(55, 55, 55, 0.4);
                background: #FF5A85;
                padding-bottom: 36px;
                border-radius: 0 0 4px 4px;
                position: relative;
                z-index: 8;
                >ul>{
                    li{
                        position: relative;
                        border-bottom: 1px dotted #FFFFFF;
                        color: #FFFFFF;
                        height: 40px;
                        line-height: 40px;
                        padding: 0 25px;
                        z-index: 8;
                        a{
                            font-size: 14px;
                            margin-left: 10px;
                            color: #FFFFFF;
                        }
                        span{
                            display: inline-block;
                            float: right;
                            line-height: 40px;
                        }
                        &:hover{
                            background: #fff;
                            >a{
                                text-decoration: none;
                                color: #555555;
                            }
                            .nav_all_list_con{
                                display: block;
                            }
                        }
                        .nav_all_list_con{
                            background: #FFF;
                            display: none;
                            box-shadow: 5px 5px 10px rgba(55, 55, 55, 0.4);
                            float: left;
                            box-sizing: border-box;
                            position: absolute;
                            top: 0px;
                            left: 100%;
                            width: 960px;
                            z-index: 9;
                            ul{
                                float: left;
                                width: 690px;
                                padding: 20px 0 126px 0;
                                li{
                                    clear: both;
                                    margin: 0px 0px;
                                    width: 690px;
                                    overflow: hidden;
                                    h5{
                                        display: inline-block;
                                        float: left;
                                        line-height: 24px;
                                        margin: 5px 0px;
                                        padding-right: 10px;
                                        text-align: right;
                                        width: 120px;
                                        a{
                                            color: #333;
                                            font-size: 14px;
                                            &:hover{
                                                text-decoration: none;
                                            }
                                        }
                                    }
                                    p{
                                        display: block;
                                        float: left;
                                        margin: 5px 0px;
                                        width: 560px;
                                        border-bottom: 1px dotted #cdcdcd;
                                        a{
                                            float: left;
                                            display: inline;
                                            color: #999;
                                            line-height: 12px;
                                            font-size: 12px;
                                            border-left: 1px solid #ccc;
                                            padding: 0px 10px; 
                                            margin: 6px 0;
                                            &:hover{
                                                color: orange;
                                                text-decoration: none;
                                            }
                                        }
                                    }
                                }
                            }
                            .nav_all_list_con_r{
                                background: #EEEEEE;
                                min-height: 400px;
                                width: 270px;
                                div{
                                    a{
                                        margin-left: 10px;
                                        display: inline-block;
                                        height: 50px;
                                        width: 120px;
                                        background: url(../images/c62d8d370e0faf8764e0ba617df33ec3.jpg)no-repeat;
                                        &:nth-child(2){
                                            margin-top: 10px;
                                            background: url(../images/81bf71c3f28d09d1a608387fc82c6412.jpg)no-repeat;
                                        }
                                        &:nth-child(3){
                                            background: url(../images/5c5cef809095fdf3cc2504bfe1997509.jpg)no-repeat;
                                        }
                                        &:nth-child(4){
                                            background: url(../images/53e1e47eab1433e31bd229e7abf2d381.jpg)no-repeat;
                                        }
                                        &:nth-child(5){
                                            background: url(../images/59def1d4d520bb6b44122b6fe67ca40d.jpg)no-repeat;
                                        }
                                        &:nth-child(6){
                                            background: url(../images/ab5bdc33821a4481ddfc73f22af40623.jpg)no-repeat;
                                        }
                                        &:nth-child(7){
                                            height: 120px;
                                            width: 250px;
                                            background: url(../images/7225785a1a561d1177e0980e7752bbef.jpg)no-repeat;
                                        }
                                        &:nth-child(8){
                                            height: 120px;
                                            width: 250px;
                                            background: url(../images/12bbbf6bd5abd287ea0087324e5436cd.jpg)no-repeat;
                                        }
                                    }
                                }
                            }
                        }  
                    }
                }
            }
        }  
        .nav_right{
            float: left;
            ul{
                li{
                    float: left;
                    height: 40px;
                    width: 120px;
                    padding-right: 3px;
                    a{
                        display: block;
                        font-size: 16px;
                        height: 40px;
                        line-height: 40px;
                        text-align: center;
                        width: 120px;
                        color: #555;
                        &:hover{
                            color: #ff3f72;
                            text-decoration: none;
                        }
                    }
                    &:nth-child(1) a{
                        color: #ff3f72;
                    }
                }
            }
        }
    }
}
#banner{
    position: relative;
    z-index: 1;
    .banner_list{
        background: #FFFFFF;
        height: 100%;
        width: 180px;
        opacity: 0.9;
        position: absolute;
        z-index: 9;
        right: 15%;
        top: 0;
        a{
            display: block;
            height: 25%;
            width: 90%;
            margin-left:10% ;
            transition: all 0.2s;
            background: url(../images/3a9b744b47610c86dbd1bfef6cb116ab.jpg)no-repeat;
            background-size:contain;
            &:nth-child(2){
                background: url(../images/c539ac33ff1bf3e3bd9f405d4f2bdfe8.jpg)no-repeat;
                background-size:contain;
            }
            &:nth-child(3){
                background: url(../images/ad047f5fdc664cea8a052cf77352dc06.jpg)no-repeat;
                background-size:contain;
            }
            &:nth-child(4){
                background: url(../images/08e2115420e9947d9fe272652d7ad1f1.jpg)no-repeat;
                background-size:contain;  
            }
            &:hover{
                margin-left: 7%;
            }
        }
    } 
}
