#header {
  background: #F5F5F5;
  height: 30px;
}

#header .header .header_left {
  width: 50%;
  float: left;
  font-size: 12px;
  line-height: 30px;
}

#header .header .header_left label {
  font-weight: 400;
  margin: 0 5px;
}

#header .header .header_left a {
  color: #37a0db;
}

#header .header .header_left em {
  color: #999;
  font-style: normal;
  line-height: 30px;
}

#header .header .header_right {
  float: right;
}

#header .header .header_right > ul > li {
  float: left;
  font-size: 12px;
  line-height: 12px;
  padding-left: 6px;
  margin: 9px 0;
  border-right: 1px solid #B199B1;
  color: #37a0db;
  cursor: pointer;
  position: relative;
}

#header .header .header_right > ul > li:hover {
  color: orange;
}

#header .header .header_right > ul > li:nth-child(2) {
  padding: 0 6px;
}

#header .header .header_right > ul > li:nth-child(4) {
  border: none;
}

#header .header .header_right > ul > li span {
  font-size: 4px;
  padding: 0 6px;
}

#header .header .header_right > ul > li ul {
  border: 1px solid #ccc;
  width: 160px;
  box-sizing: border-box;
  border-radius: 4px;
  position: absolute;
  background: #fff;
  padding: 5px 0;
  top: 32px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  display: none;
}

#header .header .header_right > ul > li ul li a {
  display: block;
  padding: 5px 0 5px 30px;
}

#header .header .header_right > ul > li ul li a:hover {
  color: orange;
}

#header .header .header_right > ul > li ul li:hover {
  background: #F5F5F5;
}

#logo {
  height: 100px;
}

#logo .logo {
  height: 100px;
}

#logo .logo h1 a {
  display: block;
  background: url(../images/logo.gif) no-repeat;
  height: 60px;
  width: 280px;
  text-indent: -999px;
  margin: 20px 0;
}

#logo .logo .logo_center {
  width: 620px;
  height: 100px;
  padding: 10px 11px 0 22px;
  box-sizing: border-box;
}

#logo .logo .logo_center .logo_center_top {
  margin-bottom: 2px;
}

#logo .logo .logo_center .logo_center_top span {
  width: 46px;
  height: 20px;
  color: #fff;
  border-radius: 2px;
  background: #f6ab00;
  text-align: center;
  float: left;
  display: block;
  cursor: pointer;
}

#logo .logo .logo_center .logo_center_top span:nth-child(2) {
  margin-left: 2px;
  background: #37a0db;
}

#logo .logo .logo_center .logo_center_middle {
  position: relative;
}

#logo .logo .logo_center .logo_center_middle input {
  box-sizing: border-box;
  color: #000;
  height: 36px;
  margin: 0;
  outline: 0 none;
  padding: 5px 3px 5px 5px;
  position: relative;
  width: 497px;
  z-index: 2;
  border: 3px solid #37A0DB;
}

#logo .logo .logo_center .logo_center_middle button {
  background-color: #37a0db;
  border: 0 none;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  height: 36px;
  letter-spacing: 4px;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  width: 90px;
}

#logo .logo .logo_center .logo_center_bottom {
  height: 20px;
  margin-left: -10px;
  overflow: hidden;
  padding: 4px 0 0;
  width: 100%;
}

#logo .logo .logo_center .logo_center_bottom ul li {
  float: left;
  border-left: 1px solid #ccc;
  display: inline-block;
  line-height: 1.1;
  padding: 0 12px;
}

#logo .logo .logo_center .logo_center_bottom ul li:nth-child(1) {
  border: none;
}

#logo .logo .logo_center .logo_center_bottom ul li a {
  font-size: 12px;
}

#logo .logo .logo_center .logo_center_bottom ul li a:hover {
  text-decoration: none;
}

#logo .logo .logo_center_right {
  padding-top: 25px;
}

#logo .logo .logo_center_right a {
  display: block;
  width: 210px;
  height: 70px;
  background: url(../images/iphones.png) no-repeat;
}

#nav {
  border-bottom: 2px solid #ff3f72;
  box-sizing: border-box;
  height: 40px;
}

#nav .nav .nav_all {
  float: left;
  box-shadow: 5px 5px 10px rgba(55, 55, 55, 0.4);
  background: #ff3f72 none repeat scroll 0 0;
  display: inline-block;
  height: 40px;
  width: 240px;
}

#nav .nav .nav_all h4 {
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  line-height: 40px;
  padding-left: 25px;
}

#nav .nav .nav_all h4 span {
  vertical-align: middle;
  margin: 0 20px;
}

#nav .nav .nav_all .nav_all_list {
  box-shadow: 5px 5px 10px rgba(55, 55, 55, 0.4);
  background: #FF5A85;
  padding-bottom: 36px;
  border-radius: 0 0 4px 4px;
  position: relative;
  z-index: 8;
  display: block;
}

#nav .nav .nav_all .nav_all_list > ul > li {
  border-bottom: 1px dotted #FFFFFF;
  color: #FFFFFF;
  height: 40px;
  line-height: 40px;
  padding: 0 25px;
  z-index: 8;
}

#nav .nav .nav_all .nav_all_list > ul > li a {
  font-size: 14px;
  margin-left: 10px;
  color: #FFFFFF;
}

#nav .nav .nav_all .nav_all_list > ul > li span {
  display: inline-block;
  float: right;
  line-height: 40px;
}

#nav .nav .nav_all .nav_all_list > ul > li:hover {
  background: #fff;
}

#nav .nav .nav_all .nav_all_list > ul > li:hover > a {
  text-decoration: none;
  color: #555555;
}

#nav .nav .nav_all .nav_all_list > ul > li:hover .nav_all_list_con {
  display: block;
}

#nav .nav .nav_all .nav_all_list > ul > li .nav_all_list_con {
  background: #FFF;
  display: none;
  box-shadow: 5px 5px 10px rgba(55, 55, 55, 0.4);
  float: left;
  box-sizing: border-box;
  position: absolute;
  top: 0px;
  left: 100%;
  width: 960px;
  z-index: 9;
}

#nav .nav .nav_all .nav_all_list > ul > li .nav_all_list_con ul {
  float: left;
  width: 690px;
  padding: 20px 0 126px 0;
}

#nav .nav .nav_all .nav_all_list > ul > li .nav_all_list_con ul li {
  clear: both;
  margin: 0px 0px;
  width: 690px;
  overflow: hidden;
}

#nav .nav .nav_all .nav_all_list > ul > li .nav_all_list_con ul li h5 {
  display: inline-block;
  float: left;
  line-height: 24px;
  margin: 5px 0px;
  padding-right: 10px;
  text-align: right;
  width: 120px;
}

#nav .nav .nav_all .nav_all_list > ul > li .nav_all_list_con ul li h5 a {
  color: #333;
  font-size: 14px;
}

#nav .nav .nav_all .nav_all_list > ul > li .nav_all_list_con ul li h5 a:hover {
  text-decoration: none;
}

#nav .nav .nav_all .nav_all_list > ul > li .nav_all_list_con ul li p {
  display: block;
  float: left;
  margin: 5px 0px;
  width: 560px;
  border-bottom: 1px dotted #cdcdcd;
}

#nav .nav .nav_all .nav_all_list > ul > li .nav_all_list_con ul li p a {
  float: left;
  display: inline;
  color: #999;
  line-height: 12px;
  font-size: 12px;
  border-left: 1px solid #ccc;
  padding: 0px 10px;
  margin: 6px 0;
}

#nav .nav .nav_all .nav_all_list > ul > li .nav_all_list_con ul li p a:hover {
  color: orange;
  text-decoration: none;
}

#nav .nav .nav_all .nav_all_list > ul > li .nav_all_list_con .nav_all_list_con_r {
  background: #EEEEEE;
  min-height: 400px;
  width: 270px;
}

#nav .nav .nav_all .nav_all_list > ul > li .nav_all_list_con .nav_all_list_con_r div a {
  margin-left: 10px;
  display: inline-block;
  height: 50px;
  width: 120px;
  background: url(../images/c62d8d370e0faf8764e0ba617df33ec3.jpg) no-repeat;
}

#nav .nav .nav_all .nav_all_list > ul > li .nav_all_list_con .nav_all_list_con_r div a:nth-child(2) {
  margin-top: 10px;
  background: url(../images/81bf71c3f28d09d1a608387fc82c6412.jpg) no-repeat;
}

#nav .nav .nav_all .nav_all_list > ul > li .nav_all_list_con .nav_all_list_con_r div a:nth-child(3) {
  background: url(../images/5c5cef809095fdf3cc2504bfe1997509.jpg) no-repeat;
}

#nav .nav .nav_all .nav_all_list > ul > li .nav_all_list_con .nav_all_list_con_r div a:nth-child(4) {
  background: url(../images/53e1e47eab1433e31bd229e7abf2d381.jpg) no-repeat;
}

#nav .nav .nav_all .nav_all_list > ul > li .nav_all_list_con .nav_all_list_con_r div a:nth-child(5) {
  background: url(../images/59def1d4d520bb6b44122b6fe67ca40d.jpg) no-repeat;
}

#nav .nav .nav_all .nav_all_list > ul > li .nav_all_list_con .nav_all_list_con_r div a:nth-child(6) {
  background: url(../images/ab5bdc33821a4481ddfc73f22af40623.jpg) no-repeat;
}

#nav .nav .nav_all .nav_all_list > ul > li .nav_all_list_con .nav_all_list_con_r div a:nth-child(7) {
  height: 120px;
  width: 250px;
  background: url(../images/7225785a1a561d1177e0980e7752bbef.jpg) no-repeat;
}

#nav .nav .nav_all .nav_all_list > ul > li .nav_all_list_con .nav_all_list_con_r div a:nth-child(8) {
  height: 120px;
  width: 250px;
  background: url(../images/12bbbf6bd5abd287ea0087324e5436cd.jpg) no-repeat;
}

#nav .nav .nav_right {
  float: left;
}

#nav .nav .nav_right ul li {
  float: left;
  height: 40px;
  width: 120px;
  padding-right: 3px;
}

#nav .nav .nav_right ul li a {
  display: block;
  font-size: 16px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  width: 120px;
  color: #555;
}

#nav .nav .nav_right ul li a:hover {
  color: #ff3f72;
  text-decoration: none;
}

#nav .nav .nav_right ul li:nth-child(1) a {
  color: #ff3f72;
}

#banner {
  overflow: hidden;
}

#banner .banner {
  overflow: hidden;
  position: relative;
  z-index: 1;
  height: 476px;
}

#banner .banner .page {
  position: absolute;
  left: 50%;
  bottom: 0;
  padding: 10px;
  transform: translate(-50%, -50%);
}

#banner .banner .page span {
  display: inline-block;
  margin: 0 5px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  background: rgba(0, 0, 0, 0.6);
  text-align: center;
  color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#banner .banner .page .active {
  background: rgba(255, 0, 0, 0.8);
}

#banner .banner ul {
  position: absolute;
}

#banner .banner ul li {
  float: left;
}

#banner .banner ul li img {
  display: block;
  height: 476px;
  width: 1200px;
}

#banner .banner .banner_list {
  background: #FFFFFF;
  height: 100%;
  width: 180px;
  opacity: 0.9;
  position: absolute;
  z-index: 9;
  right: 0;
  top: 0;
}

#banner .banner .banner_list a {
  display: block;
  height: 25%;
  width: 90%;
  margin-left: 10%;
  transition: all 0.2s;
  background: url(../images/3a9b744b47610c86dbd1bfef6cb116ab.jpg) no-repeat;
  background-size: contain;
}

#banner .banner .banner_list a:nth-child(2) {
  background: url(../images/c539ac33ff1bf3e3bd9f405d4f2bdfe8.jpg) no-repeat;
  background-size: contain;
}

#banner .banner .banner_list a:nth-child(3) {
  background: url(../images/ad047f5fdc664cea8a052cf77352dc06.jpg) no-repeat;
  background-size: contain;
}

#banner .banner .banner_list a:nth-child(4) {
  background: url(../images/08e2115420e9947d9fe272652d7ad1f1.jpg) no-repeat;
  background-size: contain;
}

#banner .banner .banner_list a:hover {
  margin-left: 7%;
}

#min .min {
  padding: 0;
}

#min .min .min_1 {
  padding-top: 10px;
  box-sizing: border-box;
}

#min .min .min_1 a {
  display: block;
  float: left;
  width: 20%;
  height: 140px;
  transition: all 0.2s;
}

#min .min .min_1 a:nth-child(7) {
  width: 100%;
  height: 80px;
  background: url(../images/416e24316255d70cab4d60572683ff6c.jpg) no-repeat 0 0;
}

#min .min .min_1 a:nth-child(7):hover {
  background-position: 0 0;
}

#min .min .min_1 a:nth-child(6) {
  width: 100%;
  background: url(../images/ab7593e1b71ec92188cfc6d3798b4d25.jpg) no-repeat 0 0;
}

#min .min .min_1 a:nth-child(6):hover {
  background-position: 0 0;
}

#min .min .min_1 a:nth-child(5) {
  background: url(../images/b9a61518f86c24a19a9e3ad60e9ef412.jpg) no-repeat 2px 0;
}

#min .min .min_1 a:nth-child(4) {
  background: url(../images/c011ba22118d285d552ee1d168469a9d.jpg) no-repeat 2px 0;
}

#min .min .min_1 a:nth-child(3) {
  background: url(../images/972f43281e58c39e4a0df00909e327c1.jpg) no-repeat 2px 0;
}

#min .min .min_1 a:nth-child(2) {
  background: url(../images/df48426aa7659c6027a71c901dbcaf66.jpg) no-repeat 2px 0;
}

#min .min .min_1 a:nth-child(1) {
  background: url(../images/045aa2d974a93af1d8d163aca4b50659.jpg) no-repeat 0 0;
}

#min .min .min_1 a:hover {
  background-position: -1px 0;
}

#min .min .min_2 .area div {
  float: left;
  width: 400px;
  height: 220px;
}

#min .min .min_2 .area div a {
  display: block;
  width: 400px;
  height: 220px;
  transition: all 0.2s;
}

#min .min .min_2 .area div:nth-child(1) a {
  background: url(../images/17923ced28077f139a4ef55c7b9cc868.jpg) no-repeat 0 0;
}

#min .min .min_2 .area div:nth-child(2) a {
  background: url(../images/10880717a26011ad62aa453fe060ec0f.jpg) no-repeat 0 0;
}

#min .min .min_2 .area div:nth-child(3) a {
  background: url(../images/77a4a802ca3a88f63f6547fa6a34f920.jpg) no-repeat 0 0;
}

#min .min .min_2 .area div:nth-child(4) a {
  background: url(../images/af66b6f57b2e3fb2bd6a85bf9dd4d8db.jpg) no-repeat 0 0;
}

#min .min .min_2 .area div:nth-child(5) a {
  background: url(../images/3e4a5f08ea674be2299e707244c6f277.jpg) no-repeat 0 0;
}

#min .min .min_2 .area div:nth-child(6) a {
  background: url(../images/e98378648ef4ec7abc64433fccb7bc7c.jpg) no-repeat 0 0;
}

#min .min .min_2 .area div:hover a {
  background-position: -6px 0;
}

#brand .brand {
  padding-top: 10px;
  box-sizing: border-box;
}

#brand .brand .brand_title h3 {
  font-size: 18px;
  line-height: 40px;
}

#brand .brand .brand_min {
  border: 1px solid #ccc;
  box-sizing: border-box;
}

#brand .brand .brand_min .brand_min_left {
  width: 320px;
  height: 400px;
  float: left;
  border-right: 1px solid #ccc;
  box-sizing: border-box;
}

#brand .brand .brand_min .brand_min_left a {
  display: block;
  width: 320px;
  height: 400px;
  background: url(../images/47deecf3719fbb43df2520dc2f25b52a.jpg) no-repeat 0 0;
  transition: all 0.2s;
}

#brand .brand .brand_min .brand_min_left a:hover {
  background-position: -6px 0;
}

#brand .brand .brand_min .brand_min_center {
  float: left;
  width: 660px;
  height: 400px;
}

#brand .brand .brand_min .brand_min_center .brand_min_center_1 {
  height: 20%;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  box-sizing: border-box;
}

#brand .brand .brand_min .brand_min_center .brand_min_center_1:nth-child(5) {
  border-left: 1px solid #ccc;
  border-bottom: 0;
}

#brand .brand .brand_min .brand_min_center .brand_min_center_1 .brand_min_center_2 {
  float: left;
  box-sizing: border-box;
  border-right: 1px solid #ccc;
  width: 20%;
  height: 100%;
}

#brand .brand .brand_min .brand_min_center .brand_min_center_1 .brand_min_center_2 a {
  display: block;
  width: 100%;
  height: 100%;
  transition: all 0.2s;
  background: url(../images/df6260fb6e0384b4c13a16c65c9c4b1f.jpg) no-repeat 0 0;
}

#brand .brand .brand_min .brand_min_center .brand_min_center_1 .brand_min_center_2:hover a {
  background-position: -4px 0;
}

#brand .brand .brand_min .brand_min_right {
  box-sizing: border-box;
  float: left;
  width: 218px;
  height: 400px;
}

#brand .brand .brand_min .brand_min_right .brand_min_right_1 {
  height: 60%;
  box-sizing: border-box;
  width: 100%;
  border-bottom: 1px solid #ccc;
}

#brand .brand .brand_min .brand_min_right .brand_min_right_2 {
  width: 100%;
  height: 40%;
}

#brand .brand .brand_min .brand_min_right .brand_min_right_2 a {
  display: block;
  width: 100%;
  height: 100%;
  transition: all 0.2s;
  background: url(../images/5bf24581e58dcf168cae1e8c0e73fd01.jpg) no-repeat 0 0;
}

#brand .brand .brand_min .brand_min_right .brand_min_right_2 a:hover {
  background-position: -4px 0;
}

#brand .brand .brand_footer {
  padding-top: 10px;
  box-sizing: border-box;
}

#brand .brand .brand_footer a {
  display: block;
  width: 100%;
  height: 120px;
  background: url(../images/74e3c8f9e73d11eacfb99b2b9f8df254.jpg) no-repeat;
}

#floor1 .floor {
  padding-top: 10px;
  box-sizing: border-box;
}

#floor1 .floor .floor_title h3 {
  font-size: 18px;
  line-height: 40px;
}

#floor1 .floor .floor_min {
  border: 1px solid #ccc;
  box-sizing: border-box;
  height: 500px;
}

#floor1 .floor .floor_min .floor_min_left {
  float: left;
  width: 320px;
  height: 100%;
  box-sizing: border-box;
}

#floor1 .floor .floor_min .floor_min_left .floor_min_left_top {
  width: 100%;
  height: 60%;
  box-sizing: border-box;
  border-bottom: 1px solid #ccc;
}

#floor1 .floor .floor_min .floor_min_left .floor_min_left_bottom {
  padding: 20px 50px;
  height: 40%;
}

#floor1 .floor .floor_min .floor_min_left .floor_min_left_bottom ul li {
  width: 100px;
  float: left;
  text-align: center;
  line-height: 30px;
  display: block;
}

#floor1 .floor .floor_min .floor_min_left .floor_min_left_bottom ul li a {
  font-size: 14px;
  color: #5e6871;
}

#floor1 .floor .floor_min .floor_min_left .floor_min_left_bottom ul li a:hover {
  text-decoration: none;
}

#floor1 .floor .floor_min .floor1_min_right {
  float: left;
  height: 100%;
  width: 878px;
}

#floor1 .floor .floor_min .floor1_min_right .floor1_min_right_top {
  height: 50%;
  width: 100%;
  box-sizing: border-box;
  border-bottom: 1px solid #ccc;
}

#floor1 .floor .floor_min .floor1_min_right .floor1_min_right_top .floor1_min_right_top1 {
  float: left;
  width: 25%;
  height: 100%;
}

#floor1 .floor .floor_min .floor1_min_right .floor1_min_right_top .floor1_min_right_top1 a {
  display: block;
  width: 100%;
  height: 100%;
  transition: all 0.2s;
  background: url(../images/accc3a06f264481f6d16841f0645effb.jpg) no-repeat 0 0;
}

#floor1 .floor .floor_min .floor1_min_right .floor1_min_right_top .floor1_min_right_top1:nth-child(3) a {
  background: url(../images/f65d86e7478e6175420b01bdec57f15a.jpg) no-repeat 0 0;
}

#floor1 .floor .floor_min .floor1_min_right .floor1_min_right_top .floor1_min_right_top1:hover a {
  background-position: -6px 0;
}

#floor1 .floor .floor_min .floor1_min_right .floor1_min_right_top .floor1_min_right_top2 {
  float: left;
  width: 50%;
  height: 100%;
  box-sizing: border-box;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

#floor1 .floor .floor_min .floor1_min_right .floor1_min_right_top .floor1_min_right_top2 a {
  display: block;
  width: 100%;
  height: 100%;
  transition: all 0.2s;
  background: url(../images/1e11b4053b05127c9ba1d5c88be39747.jpg) no-repeat 0 0;
}

#floor1 .floor .floor_min .floor1_min_right .floor1_min_right_top .floor1_min_right_top2:hover a {
  background-position: -6px 0;
}

#floor1 .floor .floor_min .floor1_min_right .floor1_min_right_bottom {
  height: 50%;
  width: 100%;
}

#floor1 .floor .floor_min .floor1_min_right .floor1_min_right_bottom .floor1_min_right_bottom1 {
  float: left;
  height: 100%;
  width: 25%;
  box-sizing: border-box;
  border-right: 1px solid #ccc;
}

#floor1 .floor .floor_min .floor1_min_right .floor1_min_right_bottom .floor1_min_right_bottom1:nth-child(4) {
  border: none;
}

#floor1 .floor .floor_min .floor1_min_right .floor1_min_right_bottom .floor1_min_right_bottom1:nth-child(4) a {
  display: block;
  width: 100%;
  height: 100%;
  background: url(../images/0f03a86e33ec2b20da975fa03e9670b3.jpg) no-repeat 0 0;
}

#floor1 .floor .floor_min .floor1_min_right .floor1_min_right_bottom .floor1_min_right_bottom1:nth-child(3) a {
  display: block;
  width: 100%;
  height: 100%;
  background: url(../images/05a6f068a4c5fd4f35108b6c8e0c8a95.jpg) no-repeat 0 0;
}

#floor1 .floor .floor_min .floor1_min_right .floor1_min_right_bottom .floor1_min_right_bottom1:nth-child(2) a {
  display: block;
  width: 100%;
  height: 100%;
  background: url(../images/52f68ce7e8dee360ebe52388fe7bfb1d.jpg) no-repeat 0 0;
}

#floor1 .floor .floor_min .floor1_min_right .floor1_min_right_bottom .floor1_min_right_bottom1:nth-child(1) a {
  display: block;
  width: 100%;
  height: 100%;
  background: url(../images/2ee2c496e513db699ac31317fbd8cba3.jpg) no-repeat 0 0;
}

#floor1 .floor .floor_min .floor1_min_right .floor1_min_right_bottom .floor1_min_right_bottom1 a {
  transition: all 0.2s;
}

#floor1 .floor .floor_min .floor1_min_right .floor1_min_right_bottom .floor1_min_right_bottom1:hover a {
  background-position: -4px 0;
}

#floor1 .floor .floor_footer {
  padding-top: 10px;
}

#like_list .like_list {
  padding-top: 10px;
  box-sizing: border-box;
}

#like_list .like_list .like_list_title h3 {
  font-size: 18px;
  line-height: 40px;
}

#like_list .like_list .like_list_content {
  height: 390px;
  overflow: hidden;
}

#like_list .like_list .like_list_content .llc_item {
  width: 232px;
  height: 385px;
  border: 1px solid #EFEFEF;
  box-sizing: border-box;
  float: left;
  margin-right: 10px;
  font-size: 14px;
  display: inline-block;
  overflow: hidden;
}

#like_list .like_list .like_list_content .llc_item .llc_item_logo {
  text-align: center;
  margin-top: 10px;
  transition: all 0.2s;
}

#like_list .like_list .like_list_content .llc_item .llc_item_logo a {
  display: block;
}

#like_list .like_list .like_list_content .llc_item .llc_item_logo a img {
  width: 200px;
  height: 200px;
}

#like_list .like_list .like_list_content .llc_item .llc_item_logo:hover {
  transform: translateX(-6px);
}

#like_list .like_list .like_list_content .llc_item .llc_item_name {
  height: 110px;
  margin-top: 22px;
}

#like_list .like_list .like_list_content .llc_item .llc_item_name p:nth-child(1) {
  margin: 10px 4px 10px 4px;
  height: 50px;
  line-height: 22px;
  padding: 4px;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
}

#like_list .like_list .like_list_content .llc_item .llc_item_name p:nth-child(1) a {
  font-size: 12px;
}

#like_list .like_list .like_list_content .llc_item .llc_item_name p:nth-child(1) a:hover {
  text-decoration: none;
}

#like_list .like_list .like_list_content .llc_item .llc_item_name p:nth-child(2) {
  padding: 8px;
  height: 40px;
  margin: 0px;
  font-size: 14px;
  color: #f6ab00;
}

#like_list .like_list .like_list_content .llc_item .llc_item_button {
  height: 40px;
  background-color: #ffa800;
}

#like_list .like_list .like_list_content .llc_item .llc_item_button a {
  text-align: center;
  line-height: 40px;
  height: 40px;
  display: block;
  color: #FFFFFF;
  font-size: 14px;
}

#like_list .like_list .like_list_content .llc_item .llc_item_button a:hover {
  text-decoration: none;
}

#like_list .like_list .like_list_content .llc_item:nth-child(5) {
  margin-right: 0;
}

#list .list {
  margin-top: 42px;
}

#list .list ul li {
  float: left;
  padding-left: 66px;
  width: 16.6%;
  box-sizing: border-box;
}

#list .list ul li:nth-child(1) {
  background: url(../images/footer.png) no-repeat -531px 0;
}

#list .list ul li:nth-child(2) {
  background: url(../images/footer.png) no-repeat -709px 0;
}

#list .list ul li:nth-child(3) {
  background: url(../images/footer.png) no-repeat -902px 0;
}

#list .list ul li:nth-child(4) {
  background: url(../images/footer.png) no-repeat -1073px 0;
}

#list .list ul li:nth-child(5) {
  background: url(../images/footer.png) no-repeat -1236px 0;
}

#list .list ul li:nth-child(6) {
  background: url(../images/footer.png) no-repeat -1435px 0;
}

#list .list ul li h6 {
  color: #666666;
  font-size: 16px;
  margin-bottom: 3px;
  line-height: 30px;
}

#list .list ul li p {
  font-size: 12px;
  line-height: 22px;
}

#list .list ul li p a {
  color: #999999;
}

#list .list ul li p a:hover {
  color: orange;
}

#foot-s {
  background: #3B87EE;
  height: 70px;
  box-sizing: border-box;
  padding: 10px 0;
  margin-top: 30px;
}

#foot-s .foot-s a {
  display: inline-block;
  margin-right: 46px;
}

#foot-s .foot-s a:nth-child(1) {
  width: 326px;
  height: 50px;
  background: url(../images/footer.png) no-repeat;
}

#foot-s .foot-s a:nth-child(2) {
  width: 450px;
  height: 50px;
  background: url(../images/footer.png) no-repeat 0 -46px;
}

#foot-s .foot-s a:nth-child(3) {
  width: 274px;
  height: 50px;
  background: url(../images/footer.png) no-repeat 0 -90px;
}

#footer .footer {
  text-align: center;
  padding: 50px 0 14px;
}

#footer .footer p:nth-child(1) a {
  display: inline-block;
  font-size: 12px;
  line-height: 12px;
  color: #999999;
  padding: 0 5px;
  border-right: 2px solid #999999;
}

#footer .footer p:nth-child(1) a:nth-child(6) {
  border: none;
}

#footer .footer p:nth-child(1) a:hover {
  color: orange;
}

#footer .footer p:nth-child(2) {
  line-height: 36px;
  font-size: 12px;
  color: #999999;
}

#footer .footer p:nth-child(2) span {
  padding: 0 3px;
}

#footer .footer p:nth-child(2) a {
  display: inline-block;
  color: #999999;
  padding: 0 3px;
}

#footer .footer p:nth-child(2) a:hover {
  color: orange;
}

#sidebar .sidebar {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 12;
  background-color: #30b1fb;
  font-size: 14px;
  height: 100%;
  width: 35px;
  padding-top: 25px;
}

#sidebar .sidebar ul li {
  margin: 20px 0;
  height: 36px;
  width: 35px;
}

#sidebar .sidebar ul li a {
  display: block;
  height: 36px;
  width: 35px;
  box-sizing: border-box;
  text-align: center;
  padding: 10px 0;
  color: orange;
}

#sidebar .sidebar ul li a:hover {
  text-decoration: none;
  color: #fff;
}

#sidebar .sidebar ul li:hover {
  background: #337AB7;
}

#sidebar .sidebar ul li:nth-child(8) a {
  color: #fff;
}

#sidebar .sidebar ul li:nth-child(1) {
  position: relative;
  background: #fff;
  border-radius: 50%;
  border: 1px solid #ccc;
  box-shadow: 5px 5px 10px rgba(55, 55, 55, 0.4);
}

#sidebar .sidebar ul li:nth-child(1) > a {
  background: url(../images/avatar-female-32x32.png) no-repeat 0 0;
}

#sidebar .sidebar ul li:nth-child(1):hover .si_login {
  display: block;
}

#sidebar .sidebar ul li:nth-child(1) .si_login {
  display: none;
  background: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  width: 300px;
  height: 150px;
  position: absolute;
  left: -302px;
  top: 0;
  box-shadow: 5px 5px 10px rgba(55, 55, 55, 0.4);
}

#sidebar .sidebar ul li:nth-child(1) .si_login a {
  display: inline-block;
  font-size: 12px;
  width: 50px;
  color: #30B1FB;
}

#sidebar .sidebar ul li:nth-child(2) {
  height: 100px;
  padding-top: 5px;
}

#sidebar .sidebar ul li:nth-child(2) span {
  display: block;
  color: orange;
  font-size: 14px;
  text-align: center;
  line-height: 16px;
  margin: 2px 0;
}

#sidebar .sidebar ul li:nth-child(2) span:nth-child(3) {
  background-color: #c40000;
  color: #fff;
  border-radius: 10px;
  font-size: 12px;
  margin-left: 8px;
  padding: 0 3px;
  text-align: center;
  width: 20px;
  height: 20px;
  line-height: 20px;
}

#sidebar .sidebar ul li:nth-child(2) a {
  color: #fff;
  display: block;
  font-size: 12px;
  top: 40px;
  padding: 0;
  margin-left: 7px;
  overflow: hidden;
  text-align: center;
  width: 20px;
  height: 50px;
  line-height: 16px;
}

#sidebar .sidebar ul li:nth-child(2) a:hover {
  text-decoration: none;
}
