#header {
  box-sizing: border-box;
}

#header .header {
  height: 98px;
  padding: 24px 0 0 97px;
  box-sizing: border-box;
}

#header .header h1 a {
  display: block;
  background: url(../images/logo.gif) no-repeat;
  height: 60px;
  width: 187px;
  text-indent: -999px;
}

#header .header span {
  height: 35px;
  width: 127px;
  background: url(../images/enter_dlzx.png) no-repeat;
  margin: 26px 0 0 2px;
}

#tbody {
  height: 530px;
  background: url(../images/banner_new.jpg) no-repeat -250px 0;
}

#tbody .tbody {
  height: 530px;
  position: relative;
}

#tbody .tbody .tbody_content {
  width: 360px;
  height: 392px;
  background: #FFFFFF;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
}

#tbody .tbody .tbody_content .tbody_content_top {
  text-align: center;
  font-size: 20px;
  line-height: 50px;
  color: #FFFFFF;
  background: url(../images/ertyu.png) no-repeat;
}

#tbody .tbody .tbody_content .erweima {
  position: absolute;
  top: 10px;
  right: 10px;
}

#tbody .tbody .tbody_content .tbody_content_middle form input {
  font-size: 14px;
  width: 307px;
  height: 40px;
  line-height: 40px;
  margin: 18px 0 0 25px;
  color: #444;
  text-indent: 37px;
  border: 1px solid #eee;
}

#tbody .tbody .tbody_content .tbody_content_middle form input:nth-child(6) {
  width: 310px;
  height: 40px;
  border: 0;
  border-radius: 3px;
  font-size: 18px;
  color: white;
  background: #fd5a85;
  text-align: center;
  text-indent: 0;
}

#tbody .tbody .tbody_content .tbody_content_middle form img {
  position: absolute;
  left: 30px;
  vertical-align: middle;
}

#tbody .tbody .tbody_content .tbody_content_middle form img:nth-child(2) {
  top: 72px;
}

#tbody .tbody .tbody_content .tbody_content_middle form img:nth-child(4) {
  top: 131px;
}

#tbody .tbody .tbody_content .tbody_content_middle form p {
  margin-top: 37px;
  font-size: 12px;
}

#tbody .tbody .tbody_content .tbody_content_middle form p input {
  width: 12px;
  height: 12px;
  margin: 0;
  margin: 0 5px 0 25px;
}

#tbody .tbody .tbody_content .tbody_content_middle form p a {
  float: right;
  margin-right: 30px;
  color: #5D5E5F;
}

#tbody .tbody .tbody_content .tbody_content_middle form p a:hover {
  color: orange;
  text-decoration: underline;
}

#tbody .tbody .tbody_content .tbody_content_middle form span {
  display: block;
  margin: 25px 0 0 204px;
  font-size: 12px;
  height: 19px;
  color: #5d5e5f;
}

#tbody .tbody .tbody_content .tbody_content_middle form a {
  color: #3EA4E2;
}

#tbody .tbody .tbody_content .tbody_content_middle .tbody_content_middle_partner {
  margin-left: 25px;
  margin-top: 7px;
}

#tbody .tbody .tbody_content .tbody_content_middle .tbody_content_middle_partner span {
  display: block;
  color: #4d4d4d;
  font-size: 14px;
  font-family: "Microsoft YaHei","arial";
  margin-bottom: 6px;
}

#tbody .tbody .tbody_content .tbody_content_middle .tbody_content_middle_partner ul li {
  float: left;
  margin-right: 16px;
  font-size: 14px;
}

#tbody .tbody .tbody_content .tbody_content_middle .tbody_content_middle_partner ul li a {
  color: #4d4d4d;
  font-family: "Microsoft YaHei","arial";
  font-size: 13px;
}

#tbody .tbody .tbody_content .tbody_content_middle .tbody_content_middle_partner ul li img {
  position: relative;
  top: -1px;
  margin-right: 2px;
}

#list .list {
  margin-top: 42px;
}

#list .list ul li {
  float: left;
  padding-left: 66px;
  width: 16.6%;
  box-sizing: border-box;
}

#list .list ul li:nth-child(1) {
  background: url(../images/footer.png) no-repeat -531px 0;
}

#list .list ul li:nth-child(2) {
  background: url(../images/footer.png) no-repeat -709px 0;
}

#list .list ul li:nth-child(3) {
  background: url(../images/footer.png) no-repeat -902px 0;
}

#list .list ul li:nth-child(4) {
  background: url(../images/footer.png) no-repeat -1073px 0;
}

#list .list ul li:nth-child(5) {
  background: url(../images/footer.png) no-repeat -1236px 0;
}

#list .list ul li:nth-child(6) {
  background: url(../images/footer.png) no-repeat -1435px 0;
}

#list .list ul li h6 {
  color: #666666;
  font-size: 16px;
  margin-bottom: 3px;
  line-height: 30px;
}

#list .list ul li p {
  font-size: 12px;
  line-height: 22px;
}

#list .list ul li p a {
  color: #999999;
}

#list .list ul li p a:hover {
  color: orange;
}

#foot-s {
  background: #3B87EE;
  height: 70px;
  box-sizing: border-box;
  padding: 10px 0;
  margin-top: 30px;
}

#foot-s .foot-s a {
  display: inline-block;
  margin-right: 46px;
}

#foot-s .foot-s a:nth-child(1) {
  width: 326px;
  height: 50px;
  background: url(../images/footer.png) no-repeat;
}

#foot-s .foot-s a:nth-child(2) {
  width: 450px;
  height: 50px;
  background: url(../images/footer.png) no-repeat 0 -46px;
}

#foot-s .foot-s a:nth-child(3) {
  width: 274px;
  height: 50px;
  background: url(../images/footer.png) no-repeat 0 -90px;
}

#footer .footer {
  text-align: center;
  padding: 50px 0 14px;
}

#footer .footer p:nth-child(1) a {
  display: inline-block;
  font-size: 12px;
  line-height: 12px;
  color: #999999;
  padding: 0 5px;
  border-right: 2px solid #999999;
}

#footer .footer p:nth-child(1) a:nth-child(6) {
  border: none;
}

#footer .footer p:nth-child(1) a:hover {
  color: orange;
}

#footer .footer p:nth-child(2) {
  line-height: 36px;
  font-size: 12px;
  color: #999999;
}

#footer .footer p:nth-child(2) span {
  padding: 0 3px;
}

#footer .footer p:nth-child(2) a {
  display: inline-block;
  color: #999999;
  padding: 0 3px;
}

#footer .footer p:nth-child(2) a:hover {
  color: orange;
}
